  /**-------------------------------------------RESPONSIVE EDITOR-------------------------------------------**/

  @media (min-width: 992px) and (max-width: 1200px) {
    /* here css */

    body {
      display: inline-block;
      position: relative;
    }

    .container {
      width: 970px!important;
    }

    .article-list .headlines li {
      margin: 20px 10px 10px;
    }

    #widget-lpse .lpse-wrap:before, #widget-lpse .lpse-wrap:after {border-left: 16px solid transparent;}

    .gallery_cover li {width: 33.3333333333%;}
  }

  @media (min-width: 992px) { 

  }

  @media (max-width:991px) { 

  }

  @media (min-width: 768px) and (max-width: 991px) {
    /* here css */

    body {
      display: inline-block;
      position: relative;
    }

    .container {
      width: 750px!important;
    }

    .page_header_wrap {background-size: auto 100%!important;background-position: center center!important;}
    .panel-theme .panel-heading h2.heading-center {width: 60%!important;}
    header .main-nav {padding-top: 15px;background: #fafafa;}

    #top-search-box {
      width: 50%;
      float: right;
      margin-right: 60px;
    }
    #top-search-box form {
      width: 70%;
    }
    .page_header_wrap {top: 0; margin-bottom: -50px;}
    header .top-info {
      top: -10px;
      position: absolute;
    }

    /* menu */
    header #blok-company {margin-bottom: -125px;}
    header #blok-company .navbar-brand {padding-left: 0px;}
    header #blok-company img {height: 80px;}
    header #blok-company .navbar-brand .navbar-brand-text {
      position: absolute;
      left: 130px;
      top: 15px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 28px;
      font-family: robotobold;
      width: 50%;
    }

    #blok-company .navbar-header .navbar-toggle {
      display: block;
      position: absolute;
      top: -62px;
      right: 0;
      width: 50px;
      height: 45px;
    }
    .navbar-toggle span {
      width: 30px;
      height: 2px;
      left: 8px;
      background: #444;
    }
    #blok-company .navbar-header .navbar-toggle:hover {
      cursor: pointer;
    }
    #blok-company .navbar-header .navbar-toggle:hover span {
      background-color: #ff920a;
    }
    .navbar-toggle span:nth-child(1) {
      top: 9.5px
    }
    .navbar-toggle span:nth-child(2) {
      top: 17.5px;
    } 
    .navbar-toggle span:nth-child(3) {
      top: 25.5px;
    }
    .navbar-toggle span:nth-child(4) {
      top: 33.5px;
    }


    header .top-info ul.topmenu {
      position: absolute;
      top: -130px;
      left: -30px;
      text-align: left;
      width: 50%;
    }

    .navbar-collapse.collapse {width: 100%;height: 0!important}
    .main-nav .nav {display: none;}

    .navbar-collapse.in .nav {
      display: block;
      position: absolute;
      width: 40%;
      top: -105px;
      right: 0;
      z-index: 999999999;
      background: #000;
      height: auto;
      margin: 0;
      padding: 10px;
      padding-bottom: 40px;
    }
    .navbar-collapse.in .nav:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7.5px 10px 7.5px;
      border-color: transparent transparent #000000 transparent;
      position: absolute;
      top: -8px;
      right: 20px;
      content: '';
    }
    .main-nav .navbar-nav > li {
      display: block;
      float: none;
      text-align: right;
    }
    .main-nav .nav li:first-child a {padding-left: auto;}
    .main-nav .navbar-nav > li > a {color: #fff;padding-left: 30px!important;}

    ul.sub-menu {
      position: relative;
      background: #111;
      text-align: right;
      width: 100%;
      border-radius: 0;
    }

    ul.sub-menu li a {
      text-align: right;
      border-bottom: 0!important;
      color: #f1f1f1!important;
    }
    .nav li li a:after {display: none;}

    .nav li li:last-child a {border-radius: 0;}

    .nav li.dropdown > a:before {color: #fff;}
    /* menu */

    .article-list .headlines li {
      margin: 20px 10px 10px;
    }

    #widget-lpse .lpse-wrap:before, #widget-lpse .lpse-wrap:after {border-left: 16px solid transparent;display: none;}
    #widget-lpse .lpse-wrap {
      margin-left: 0px;
      border-radius: 0;
      width: 100%;
      margin-top: 5px;
    }
    #widget-lpse .panel-body {
      padding: 0 0px 15px;
    }
    .article-list .list-info {padding: 15px;}

    .gallery_cover li {width: 33.3333333333%;}

    #block-support > .container > .row > .col-md-3 {width: 48%; display: inline-table;}
    .block-copyright > .container > .row > .col-md-4 {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
    .block-copyright > .container > .row > .col-md-4:last-child {
      width: 100%;
      float: none;
      text-align: center;
      padding-top: 25px;
    }
    footer .block-copyright .footer-logo {
      display: block;
      width: 20%;
      margin: 0 auto 15px;
    }
    .block-copyright > .container > .row > .col-md-4:last-child .footer-sosmed {text-align: center;}
    .block-copyright > .container > .row > .col-md-4:last-child .footer-sosmed li {
      display: inline-block;
      padding: 0 10px;
      text-align: center;
    }
    .block-copyright > .container > .row > .col-md-4:last-child .footer-sosmed li a {
      display: block;
    }
  }


  @media (max-width:767px) { 
    /* here css */
    body {
      display: inline-block;
      position: relative;
    }

    .container {
      width: 100%!important;
    }

    .page_header_wrap {background-size: auto 100%!important;background-position: center center!important;}
    .panel-theme .panel-heading h2.heading-center {width: 60%!important;}
    header .main-nav {padding-top: 15px;background: #fafafa;}

    #top-search-box {
      width: 50%;
      float: right;
      margin-right: 60px;
    }
    #top-search-box form {
      width: 70%;
    }
    .page_header_wrap {top: 0; margin-bottom: -50px;}
    header .top-info {
      top: -10px;
      position: absolute;
    }

    /* menu */
    header #blok-company {margin-bottom: -125px;}
    header #blok-company .navbar-brand {padding-left: 0px;}
    header #blok-company img {height: 80px;}
    header #blok-company .navbar-brand .navbar-brand-text {
      position: absolute;
      left: 130px;
      top: 15px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 28px;
      font-family: robotobold;
      width: 75%;
    }

    #blok-company .navbar-header .navbar-toggle {
      display: block;
      position: absolute;
      top: -62px;
      right: 0;
      width: 50px;
      height: 45px;
    }
    .navbar-toggle span {
      width: 30px;
      height: 2px;
      left: 8px;
      background: #444;
    }
    #blok-company .navbar-header .navbar-toggle:hover {
      cursor: pointer;
    }
    #blok-company .navbar-header .navbar-toggle:hover span {
      background-color: #ff920a;
    }
    .navbar-toggle span:nth-child(1) {
      top: 9.5px
    }
    .navbar-toggle span:nth-child(2) {
      top: 17.5px;
    } 
    .navbar-toggle span:nth-child(3) {
      top: 25.5px;
    }
    .navbar-toggle span:nth-child(4) {
      top: 33.5px;
    }


    header .top-info ul.topmenu {
      position: absolute;
      top: -130px;
      left: -30px;
      text-align: left;
      width: 50%;
    }

    .navbar-collapse.collapse {width: 100%;height: auto!important; overflow: visible;}
    .main-nav .nav {display: none;}

    .navbar-collapse.in .nav {
      display: block;
      position: absolute;
      width: 50%;
      top: -105px;
      right: 0;
      z-index: 999999999;
      background: #000;
      height: auto;
      margin: 0;
      padding: 10px;
      padding-bottom: 40px;
    }
    .navbar-collapse.in .nav:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7.5px 10px 7.5px;
      border-color: transparent transparent #000000 transparent;
      position: absolute;
      top: -8px;
      right: 20px;
      content: '';
    }
    .main-nav .navbar-nav > li {
      display: block;
      float: none;
      text-align: right;
      padding-left: 0;
      margin-bottom: 5px;
    }
    .main-nav .nav li:first-child a {padding-left: auto;}
    .main-nav .navbar-nav > li > a {color: #fff;padding-left: 0px!important;line-height: normal;}

    ul.sub-menu {
      position: relative;
      background: #111;
      text-align: right;
      width: 100%;
      border-radius: 0;
    }

    ul.sub-menu li a {
      text-align: right;
      border-bottom: 0!important;
      color: #f1f1f1!important;
    }
    .nav li li a:after {display: none;}

    .nav li li:last-child a {border-radius: 0;}

    .nav li.dropdown > a:before {color: #fff;}
    /* menu */

    #main-slider {height: 420px;}
    #main-slider .bx-wrapper {background: transparent;}
    .main-bxslider {width: 100%!important;}
    .main-bxslider li {
      display: block;
      margin: 0 auto;
      width: auto!important;
    }
    .bx-wrapper .bx-viewport {height: 350px!important;}

    .article-list .headlines li {
      margin: 20px 10px 10px;
    }

    #widget-lpse .lpse-wrap:before, #widget-lpse .lpse-wrap:after {border-left: 16px solid transparent;display: none;}
    #widget-lpse .lpse-wrap {
      margin-left: 0px;
      border-radius: 0;
      width: 100%;
      margin-top: 5px;
    }
    #widget-lpse .panel-body {
      padding: 0 0px 15px;
    }
    .article-list .list-info {padding: 15px;}

    .gallery_cover li {width: 33.3333333333%;}
    #block-gallery .item .col-md-4 {width: 50%;}

    #block-support > .container > .row > .col-md-3 {width: 48%; display: inline-table;}
    .block-copyright > .container > .row > .col-md-4 {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
    .block-copyright > .container > .row > .col-md-4:last-child {
      width: 100%;
      float: none;
      text-align: center;
      padding-top: 25px;
    }
    footer .block-copyright .footer-logo {
      display: block;
      width: 20%;
      margin: 0 auto 15px;
    }
    .block-copyright > .container > .row > .col-md-4:last-child .footer-sosmed {text-align: center;}
    .block-copyright > .container > .row > .col-md-4:last-child .footer-sosmed li {
      display: inline-block;
      padding: 0 10px;
      text-align: center;
    }
    .block-copyright > .container > .row > .col-md-4:last-child .footer-sosmed li a {
      display: block;
    }

  }

  /*** The Most Extra Small Devices Portrait Mode Only ***/

  @media (min-width: 176px) and (max-width: 800px) {

  }

  @media (min-width: 481px) and (max-width: 767px) {

  }

  @media (min-width: 481px) and (max-width: 600px) {
    header {
      margin-top: 30px;
    }
    header .top-info {
      top: -50px;
    }
    header .top-info ul.topmenu {width: 100%;}
    #top-search-box {
      width: 88%;
    }
    #top-search-box form {
      width: 70%;
      right: none;
      left: 0;
    }
    header #blok-company img {
      height: 80px;
      margin-left: 15px;
    }
    header #blok-company .navbar-brand .navbar-brand-text {
      width: 75%;
      font-size: 24px;
      left: 130px;
      top: 22px;
    }
    .form-group .col-md-8, .form-group .col-sm-8 {padding: 0;}
    .gallery_cover li {
      width: 50%;
    }
    #main-slider {
      height: 340px;
      margin-bottom: 70px;
    }
    .bx-wrapper .bx-viewport {
      height: 250px!important;
    }
    #main-slider .slide-container {height: 300px;}

    .panel-theme .panel-heading h2 {
      margin-left: auto;
      margin: 0 auto;
      min-width: 30%;
      text-align: center;
      display: block;
      width: 60%;
      top: -6px;
      padding-right: 15px;
      padding-top: 8px;
      -webkit-border-radius: 0px 0 20px 20px;
      -moz-border-radius: 0px 0 20px 20px;
      border-radius: 0px 0 20px 20px;
    }

    .panel-theme .panel-heading h2:before {
      width: 0;
      height: 0;
      border-bottom: 5px solid #ef6b00;
      border-left: 5px solid transparent;
      border-top: 0;
      border-right: 0;
      position: absolute;
      left: -5px;
      top: 0;
      content: '';
    }

    .panel-theme .panel-heading h2:after {
      width: 0;
      height: 0;
      border-bottom: 5px solid #ef6b00;
      border-right: 5px solid transparent;
      position: absolute;
      left: 100%;
      top: 0;
      content: '';
    }
  }

  @media (max-width: 480px) {
    /* here css */
    body {
      display: inline-block;
      position: relative;
    }

    .container {
      width: 100%!important;
    }

    header {margin-top: 30px;}

    .page_header_wrap {background-size: auto 100%!important;background-position: center center!important;}
    .panel-theme .panel-heading h2.heading-center {width: 60%!important;}
    header .main-nav {padding-top: 15px;background: #fafafa;}

    #top-search-box {
      width: 50%;
      float: right;
      margin-right: 60px;
    }
    #top-search-box form {
      width: 70%;
    }
    .page_header_wrap {top: 0; margin-bottom: -50px;}
    header .top-info {
      top: -10px;
      position: absolute;
    }

    /* menu */
    header #blok-company {margin-bottom: -125px;}
    header #blok-company .navbar-brand {padding-left: 0px;}
    header #blok-company img {height: 80px;}
    header #blok-company .navbar-brand .navbar-brand-text {
      position: absolute;
      left: 130px;
      top: 15px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 28px;
      font-family: robotobold;
      width: 75%;
    }

    #blok-company .navbar-header .navbar-toggle {
      display: block;
      position: absolute;
      top: -62px;
      right: 0;
      width: 50px;
      height: 45px;
    }
    .navbar-toggle span {
      width: 30px;
      height: 2px;
      left: 8px;
      background: #444;
    }
    #blok-company .navbar-header .navbar-toggle:hover {
      cursor: pointer;
    }
    #blok-company .navbar-header .navbar-toggle:hover span {
      background-color: #ff920a;
    }
    .navbar-toggle span:nth-child(1) {
      top: 9.5px
    }
    .navbar-toggle span:nth-child(2) {
      top: 17.5px;
    } 
    .navbar-toggle span:nth-child(3) {
      top: 25.5px;
    }
    .navbar-toggle span:nth-child(4) {
      top: 33.5px;
    }


    header .top-info ul.topmenu {
      position: absolute;
      top: -130px;
      left: -30px;
      text-align: left;
      width: 50%;
    }

    .navbar-collapse.collapse {width: 100%;height: auto!important; overflow: visible;}
    .main-nav .nav {display: none;}

    .navbar-collapse.in .nav {
      display: block;
      position: absolute;
      width: 60%;
      top: -105px;
      right: 0;
      z-index: 999999999;
      background: #000;
      height: auto;
      margin: 0;
      padding: 10px;
      padding-bottom: 40px;
    }
    .navbar-collapse.in .nav:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7.5px 10px 7.5px;
      border-color: transparent transparent #000000 transparent;
      position: absolute;
      top: -8px;
      right: 20px;
      content: '';
    }
    .main-nav .navbar-nav > li {
      display: block;
      float: none;
      text-align: right;
      padding-left: 0;
      margin-bottom: 5px;
    }
    .main-nav .nav li:first-child a {padding-left: auto;}
    .main-nav .navbar-nav > li > a {color: #fff;padding-left: 0px!important;line-height: normal;}

    ul.sub-menu {
      position: relative;
      background: #111;
      text-align: right;
      width: 100%;
      border-radius: 0;
    }

    ul.sub-menu li a {
      text-align: right;
      border-bottom: 0!important;
      color: #f1f1f1!important;
    }
    .nav li li a:after {display: none;}

    .nav li li:last-child a {border-radius: 0;}

    .nav li.dropdown > a:before {color: #fff;}
    /* menu */

    #main-slider {height: 420px;}
    #main-slider .bx-wrapper {background: transparent;}
    .main-bxslider {width: 100%!important;}
    .main-bxslider li {
      display: block;
      margin: 0 auto;
      width: auto!important;
    }
    .bx-wrapper .bx-viewport {height: 350px!important;}

    .article-list .headlines li {
      margin: 20px 10px 10px;
      width: 100%;
      height: 120px;
      overflow: hidden;
      position: relative;
    }
    .article-list .headlines li .img {width: 45%;}
    .article-list .headlines li a {width: 50%;display: inline-block;float: right;padding-top: 15px;}
    .article-list .headlines .meta {
      display: table-row;
      position: absolute;
      top: 0px;
      right: 0;
      width: 50%;
    }

    #widget-sitelink ul li a > h4 {
      bottom: -40px;
      height: 50px;
      display: table-cell;
      vertical-align: middle;
    }
    #widget-sitelink .nav-slide .nav-prev {
      left: -31px;
    }

    #widget-lpse .lpse-wrap:before, #widget-lpse .lpse-wrap:after {border-left: 16px solid transparent;display: none;}
    #widget-lpse .lpse-wrap {
      margin-left: 0px;
      border-radius: 0;
      width: 100%;
      margin-top: 5px;
    }
    #widget-lpse .panel-body {
      padding: 0 0px 15px;
    }
    .article-list .list-info {padding: 15px;}

    .gallery_cover li {width: 33.3333333333%;}
    #block-gallery .item .col-md-4 {width: 50%;}

    #block-support > .container > .row > .col-md-3 {width: 48%; display: inline-table;}
    .block-copyright > .container > .row > .col-md-4 {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
    .block-copyright > .container > .row > .col-md-4:last-child {
      width: 100%;
      float: none;
      text-align: center;
      padding-top: 25px;
    }
    footer .block-copyright .footer-logo {
      display: block;
      width: 20%;
      margin: 0 auto 15px;
    }
    .block-copyright > .container > .row > .col-md-4:last-child .footer-sosmed {text-align: center;}
    .block-copyright > .container > .row > .col-md-4:last-child .footer-sosmed li {
      display: block;
      padding: 5px 10px;
      text-align: center;
    }
    .block-copyright > .container > .row > .col-md-4:last-child .footer-sosmed li a {
      display: inline-block;
    }


    /* replacement */
    header {
      margin-top: 30px;
    }
    header .top-info {
      top: -50px;
    }
    header .top-info ul.topmenu {width: 100%;}
    #top-search-box {
      width: 88%;
    }
    #top-search-box form {
      width: 70%;
      right: none;
      left: 0;
    }
    header #blok-company img {
      height: 80px;
      margin-left: 15px;
    }
    header #blok-company .navbar-brand .navbar-brand-text {
      width: 75%;
      font-size: 24px;
      left: 130px;
      top: 22px;
    }
    .form-group .col-md-8, .form-group .col-sm-8 {padding: 0;}
    .gallery_cover li {
      width: 50%;
    }
    #main-slider {
      height: 340px;
      margin-bottom: 70px;
    }
    .bx-wrapper .bx-viewport {
      height: 250px!important;
    }
    #main-slider .slide-container {height: 300px;}

    .panel-theme .panel-heading h2 {
      margin-left: auto;
      margin: 0 auto;
      min-width: 30%;
      text-align: center;
      display: block;
      width: 60%;
      top: -6px;
      padding-right: 15px;
      padding-top: 8px;
      -webkit-border-radius: 0px 0 20px 20px;
      -moz-border-radius: 0px 0 20px 20px;
      border-radius: 0px 0 20px 20px;
    }

    .panel-theme .panel-heading h2:before {
      width: 0;
      height: 0;
      border-bottom: 5px solid #ef6b00;
      border-left: 5px solid transparent;
      border-top: 0;
      border-right: 0;
      position: absolute;
      left: -5px;
      top: 0;
      content: '';
    }

    .panel-theme .panel-heading h2:after {
      width: 0;
      height: 0;
      border-bottom: 5px solid #ef6b00;
      border-right: 5px solid transparent;
      position: absolute;
      left: 100%;
      top: 0;
      content: '';
    }

  }

  @media (max-width: 414px) {
    /* here css */

    body {
      display: inline-block;
      position: relative;
    }

    .container {
      width: 100%!important;
      padding: 0;
    }

    header {margin-top: 30px;}

    .page_header_wrap {background-size: auto 100%!important;background-position: center center!important;}
    .panel-theme .panel-heading h2.heading-center {width: 90%!important;}
    header .main-nav {padding-top: 15px;background: #fafafa;}

    #top-search-box {
      width: 50%;
      float: right;
      margin-right: 60px;
    }
    #top-search-box form {
      width: 70%;
    }
    .page_header_wrap {top: 0; margin-bottom: -50px;}
    header .top-info {
      top: -10px;
      position: absolute;
    }

    /* menu */
    header #blok-company {
      margin-bottom: -170px;
      border-radius: 0;
    }
    header #blok-company .navbar-brand {
      padding: 10px 0;
      height: auto;
      width: 100%;
      display: inline-block;
    }
    header #blok-company img {height: 80px;}
    header #blok-company .navbar-brand .navbar-brand-text {
      position: absolute;
      left: 130px;
      top: 15px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 28px;
      font-family: robotobold;
      width: 75%;
      padding-bottom: 0;
    }

    #blok-company .navbar-header .navbar-toggle {
      display: block;
      position: absolute;
      top: -92px;
      right: 0;
      width: 50px;
      height: 45px;
    }
    .navbar-toggle span {
      width: 30px;
      height: 2px;
      left: 8px;
      background: #444;
    }
    #blok-company .navbar-header .navbar-toggle:hover {
      cursor: pointer;
    }
    #blok-company .navbar-header .navbar-toggle:hover span {
      background-color: #ff920a;
    }
    .navbar-toggle span:nth-child(1) {
      top: 9.5px
    }
    .navbar-toggle span:nth-child(2) {
      top: 17.5px;
    } 
    .navbar-toggle span:nth-child(3) {
      top: 25.5px;
    }
    .navbar-toggle span:nth-child(4) {
      top: 33.5px;
    }


    header .top-info ul.topmenu {
      position: absolute;
      top: -160px;
      left: -30px;
      text-align: left;
      width: 50%;
    }

    .navbar-collapse.collapse {width: 100%;height: auto!important; overflow: visible;}
    .main-nav .nav {display: none;}

    .navbar-collapse.in .nav {
      display: block;
      position: absolute;
      width: 60%;
      top: -175px;
      right: 0;
      z-index: 999999999;
      background: #000;
      height: auto;
      margin: 0;
      padding: 10px;
      padding-bottom: 40px;
    }
    .navbar-collapse.in .nav:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7.5px 10px 7.5px;
      border-color: transparent transparent #000000 transparent;
      position: absolute;
      top: -8px;
      right: 20px;
      content: '';
    }
    .main-nav .navbar-nav > li {
      display: block;
      float: none;
      text-align: right;
      padding-left: 0;
      margin-bottom: 5px;
    }
    .main-nav .nav li:first-child a {padding-left: auto;}
    .main-nav .navbar-nav > li > a {color: #fff;padding-left: 0px!important;line-height: normal;}

    ul.sub-menu {
      position: relative;
      background: #111;
      text-align: right;
      width: 100%;
      border-radius: 0;
    }

    ul.sub-menu li a {
      text-align: right;
      border-bottom: 0!important;
      color: #f1f1f1!important;
    }
    .nav li li a:after {display: none;}

    .nav li li:last-child a {border-radius: 0;}

    .nav li.dropdown > a:before {color: #fff;}
    /* menu */

    #main-slider {height: 420px;}
    #main-slider .bx-wrapper {background: transparent;}
    .main-bxslider {width: 100%!important;}
    .main-bxslider li {
      display: block;
      margin: 0 auto;
      width: auto!important;
    }
    .bx-wrapper .bx-viewport {height: 350px!important;}

    .article-list .headlines li {
      margin: 20px 10px 10px;
      width: 100%;
      height: 120px;
      overflow: hidden;
      position: relative;
    }
    .article-list .headlines li .img {width: 45%;}
    .article-list .headlines li a {width: 50%;display: inline-block;float: right;padding-top: 15px;}
    .article-list .headlines .meta {
      display: table-row;
      position: absolute;
      top: 0px;
      right: 0;
      width: 50%;
    }

    .widget-post .post-title {
      font-size: 22px;
    }

    #widget-sitelink ul li a > h4 {
      bottom: -40px;
      height: 50px;
      display: table-cell;
      vertical-align: middle;
    }
    #widget-sitelink .nav-slide .nav-prev {
      left: -31px;
    }

    #widget-lpse .lpse-wrap:before, #widget-lpse .lpse-wrap:after {border-left: 16px solid transparent;display: none;}
    #widget-lpse .lpse-wrap {
      margin-left: 0px;
      border-radius: 0;
      width: 100%;
      margin-top: 5px;
    }
    #widget-lpse .panel-body {
      padding: 0 0px 15px;
    }
    .article-list .list-info {padding: 15px;}

    .gallery_cover li {width: 33.3333333333%;}
    #block-gallery .item .col-md-4 {width: 100%;}

    #block-support > .container > .row > .col-md-3 {width: 48%; display: inline-table;}
    .block-copyright > .container > .row > .col-md-4 {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
    .block-copyright > .container > .row > .col-md-4:last-child {
      width: 100%;
      float: none;
      text-align: center;
      padding-top: 25px;
    }
    footer .block-copyright .footer-logo {
      display: block;
      width: 20%;
      margin: 0 auto 15px;
    }
    .block-copyright > .container > .row > .col-md-4:last-child .footer-sosmed {text-align: center;}
    .block-copyright > .container > .row > .col-md-4:last-child .footer-sosmed li {
      display: block;
      padding: 5px 10px;
      text-align: center;
    }
    .block-copyright > .container > .row > .col-md-4:last-child .footer-sosmed li a {
      display: inline-block;
    }
    .panel {border-radius: 0;}


    /* replacement */
    header {
      margin-top: 30px;
    }
    header .top-info {
      top: -50px;
      left: 15px;
    }
    header .top-info ul.topmenu {width: 100%;}
    #top-search-box {
      width: 100%;
      float: none;
      margin: 0;
      position: absolute;
      top: 5px;
    }
    #top-search-box form {
      width: 100%;
      right: none;
      left: 0;
    }
    header #blok-company img {
      height: 80px;
      margin-left: 15px;
      margin: 0 auto;
    }
    header #blok-company .navbar-brand .navbar-brand-text {
      width: 100%;
      font-size: 18px;
      left: 0;
      top: 0;
      text-align: center;
      position: relative;
    }
    .form-group .col-md-8, .form-group .col-sm-8 {padding: 0;}
    .gallery_cover li {
      width: 100%;
    }
    #main-slider {
      height: 300px;
      margin-bottom: 40px;
    }
    .bx-wrapper .bx-viewport {
      height: 185px!important;
    }
    #main-slider .slide-container {height: 300px;}

    .panel-theme .panel-heading h2 {
      margin-left: auto;
      margin: 0 auto;
      min-width: 30%;
      text-align: center;
      display: block;
      font-size: 16px;
      width: 90%;
      top: -6px;
      padding-right: 15px;
      padding-top: 8px;
      -webkit-border-radius: 0px 0 20px 20px;
      -moz-border-radius: 0px 0 20px 20px;
      border-radius: 0px 0 20px 20px;
    }

    .panel-theme .panel-heading h2:before {
      width: 0;
      height: 0;
      border-bottom: 5px solid #ef6b00;
      border-left: 5px solid transparent;
      border-top: 0;
      border-right: 0;
      position: absolute;
      left: -5px;
      top: 0;
      content: '';
    }

    .panel-theme .panel-heading h2:after {
      width: 0;
      height: 0;
      border-bottom: 5px solid #ef6b00;
      border-right: 5px solid transparent;
      position: absolute;
      left: 100%;
      top: 0;
      content: '';
    }

    #side {
      padding-left: 15px;
    }
    form {
      padding: 0px;
    }
    #top-search-box form {padding: 15px;}

    #block-support {padding: 30px 15px 15px;}
  }

  @media (max-width: 360px) {
    .navbar-header {
      padding: 10px 10px;
    }
    header #blok-company {
      margin-bottom: -200px;
    }
    header .top-info {
      top: -85px;
      left: auto;
    }
    header .top-info ul.topmenu {
      width: 80%;
    }
    header .top-info ul.topmenu li {
      margin-bottom: 10px;
    }
    #top-search-box form {
      padding: 15px;
      padding-top: 28px;
    }
    header {
      margin-top: 30px;
      display: inline-block;
      width: 100%;
    }
    #main-slider {
      height: 290px;
      margin-bottom: 40px;
      margin-top: 40px;
    }
    .bx-wrapper .bx-viewport {
      height: 160px!important;
    }
    .article-list .headlines li {
      height: auto;
    }
    .article-list .headlines li .img {
      width: 100%;
    }
    .article-list .headlines li a {
      width: 100%;
      display: inline-block;
      float: none;
      padding-top: 0;
    }
    .article-list .headlines .meta {position: relative;}
    #widget-sitelink .bx-wrapper .bx-viewport {
      height: 200px!important;
    }
    #block-support > .container > .row > .col-md-3 {
      width: 100%;
      display: inline-table;
      text-align: center;
    }
    footer .footer-menu ul {
      display: inline-block;
      width: 100%;
    }
    footer .footer-menu li {text-align: center;}

    .navbar-collapse.in .nav {
      width: 100%;
      top: -195px;
    }

  }
